<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <script type="text/javascript" src="../public/javascripts/jquery.js"></script>
    <script type="text/javascript" src="../public/javascripts/regist.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/regist.css">
    <title>Login</title>
</head>
<body>
<form actoin="detail" method="post">
    <p id="tittle">用户注册</p>

    <div>
        <label for="name">&nbsp;用户名</label>
        <input id="name" type="text" name="username"><br>
        <span class="error">&nbsp;</span>
    </div>
    <div>
        <label for="password">&nbsp;&nbsp;密码</label>
        <input id="password" type="password" name="password"><br>
        <span class="error">&nbsp;</span>
    </div>
    <div>
        <label for="confirm">确认密码</label>
        <input id="confirm" type="password" name="confirm"><br>
        <span class="error">&nbsp;</span>
    </div>
    <div>
        <label for="num">&nbsp;&nbsp;学号</label>
        <input id="num" type="text" name="sid"><br>
        <span class="error">&nbsp;</span>
    </div>
    <div>
        <label for="num">&nbsp;&nbsp;电话</label>
        <input id="phone" type="text" name="phone"><br>
        <span class="error">&nbsp;</span>
    </div>
    <div>
        <label for="num">&nbsp;&nbsp;邮箱</label>
        <input id="email" type="text" name="email"><br>
        <span class="error">&nbsp;</span>
    </div>
    <input type="submit">
    <a href="/regist"></a>
    <input type="reset" name="reset">
</form>
</body>
</html>